.container{
    overflow: hidden;
}
.navbar{
    background-color: pink;
    color: black;
}
.navbar-brand{
    background-color: pink;
    color: black;
}
.navbar .form-control{
    background-color: white;
}

.form-control{
    width: 20%;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
#form-section{
    background-color: pink;
    color: black;
}
 #landing-section .btn {
    color: black;
    background-color: pink;
    width: 20%;

}



#landing-section{
    height: 550px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.7)),  url(./img/3.jfif);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    animation: all 30s linear infinite;

}
#landing-section h1{
    font-size: 40px;
    text-align: center;
    padding-top: 220px;
    color:white;
}
#landing-section h2{
    font-size: 40px;
    color: white;
   
}

/* THE CITY SECTIONS */

.city h2{
    text-align: center;
}

.top{
    background-color: rgb(26, 25, 25);
    color: white;
}
.list-group-item, .form-control{
    background-color: rgb(26, 25, 25);
    color: white;
}
.black{
    background-color: black;
    color: white;
}
#city a{
text-decoration: none;
color: black;
}